[submodule "mipt-ded-zemax"]
	path = mipt-ded-zemax
	url = git@github.com:random-username-here/mipt-ded-zemax.git
	branch = dev
[submodule "interface"]
	path = interface
	url = https://github.com/random-username-here/mipt-ded-zemax.git
